<nav class="navbar-top">
  <a [routerLink]="['']" class="navbar-top__logo">
    <img
      class="navbar-top__logo-icon"
      ngSrc="assets/tooth.svg"
      alt="logo"
      height="32"
      width="32"
    />
    Solident
  </a>
  @if (isDesktopLayout) {
    <ul class="nav-item-group">
      <li class="nav-item">
        <a> Test </a>
      </li>
      <li class="nav-item">
        <a> Test </a>
      </li>
    </ul>
    <div class="navbar-top__accessibility-menu">
      <app-accessibility-menu></app-accessibility-menu>
    </div>
  }

  @if (isMobileLayout) {
    <div
      [ngClass]="
        showMenu
          ? 'show-menu navbar-top__burger-menu'
          : 'navbar-top__burger-menu'
      "
      (click)="toggleMenu()"
      aria-label="Rozwijane menu stron"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  }
</nav>
@if (isMobileLayout && showMenu) {
  <div [@InOutAnimation]="showMenu" class="mobile-menu">
    <div class="mobile-menu__item-group">
      <a [routerLink]="['oferta']" class="item-group__item"> Oferta </a>
    </div>
    <div class="mobile-menu__accessibility-menu">
      <app-accessibility-menu></app-accessibility-menu>
    </div>
  </div>
}
