.welcome {
  position: relative;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome__background {
  object-fit: cover;
  z-index: -1;
  object-position: left;
  filter: brightness(0.8);
}

.welcome__header {
  margin-top: 2rem;
  font-size: 3rem;
  color: white;
}

.welcome__slogan {
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: 500;
}

.services {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.services__header {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary);
}

.services__paragraph {
  margin-top: 1rem;
  font-size: 1.25rem;
  color: var(--text);
}

.offers__offer-card {
  padding: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact__header {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: var(--primary);
}

.contact__paragraph {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text);
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & > * {
    margin-top: 1rem;
  }
}

.info__header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--accent);
  margin-bottom: 0.5rem;
}

.info__line {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--text);
}

@media (min-width: 880px) {
  .services__offers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    //gap: 10px;
    column-gap: 10px;
  }

  .services__offers > * {
    flex: 1 1 calc(33.333% - 10px); /* Adjusts for gap */
    max-width: calc(33.333% - 10px); /* Adjusts for gap */
  }
  //.services__offers {
  //  display: grid;
  //  grid-template-columns: repeat(6, 1fr);
  //}
  //
  //.services__offers > :nth-child(1),
  //.services__offers > :nth-child(2),
  //.services__offers > :nth-child(3) {
  //  grid-column: span 2; /* Make the fourth and fifth items span 3 columns */
  //}
  //
  //.services__offers > :nth-child(4),
  //.services__offers > :nth-child(5) {
  //  grid-column: span 3; /* Make the fourth and fifth items span 3 columns */
  //}
}
